body{
  background-color: rgb(237, 237, 248);
}

h1{
  text-align: center;

  font-weight: bold;
}

mat-drawer-container{
  height: 100%;
}

mat-drawer-content{
  background-color: rgb(237, 237, 248);
}

.mat-drawer-content{
  background-color: rgb(237, 237, 248);
}

.contenedorTabla{
  max-width: 90%;

  position: absolute;
  top: 10rem;
  left: 5%;
  right: 5%;
}

table {
  border-radius: 30px;

  border-collapse: collapse;
  border: 1px solid black;

  width: 100%;
}

th,td {
  border: 1px solid black;

  text-align: center;

  padding-top: 1%;
  padding-bottom: 1%;
}

mat-drawer{
  max-width: 50%;
  background-color: rgb(172, 193, 248);
  padding: 1% 1% 0 1%;
}

mat-list-item{
  padding: 8% 0 0 0;
}

a[href] {
  text-decoration: none;
  color: black;
  white-space: pre;
}

.sidenavButton{
  padding: 0.5% 1% 0.5% 1%;
  font-size: 200%;
  color:white;
  background-color: rgb(13, 47, 156);
  border-radius: 8px;
  border: 0;
}

.sidenavButton:hover{
  background-color: rgb(12, 38, 122);
  cursor: pointer;
}

.botonesCuadro{
  margin: 3%;
}

.botonNuevo{
  position: absolute;
  left: 75%;
}

.botonBlanco{
  background-color: white;
}

.editable
{
  display: grid;
  flex-wrap: center;

  position: absolute;
  top: 5%;
  left: 40%;

  min-width: fit-content;

  max-width: 30vw;
  max-height: fit-content;
  background-color: rgb(172, 193, 248);
  opacity: 1;

  z-index: 100;
}

.card{
  display: grid;
  flex-wrap: center;
}

.filtros{
  display: grid;
}

.buscador{

}

