<div>
  
</div>
<div class="contenedorTabla">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Nombre de Usuario</th>
        <th>Clave de Usuario</th>
        <th>Estado</th>
        <th>DNI</th>
        <th>Mail</th>
        <th>Botones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.idUsuario}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.direccion}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.nombreUsuario}}</td>
        <td>{{cliente.claveUsuario}}</td>
        <td>{{objToString(cliente.cliente, cliente.pendiente)}}</td>
        <td>{{cliente.dni}}</td>
        <td>{{cliente.mail}}</td>
        <td>
          <button class="botonesCuadro" mat-raised-button color="primary">Editar</button>
          <button class="botonesCuadro" mat-raised-button color="warn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
