<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="over">
    <mat-nav-list>
      <mat-list-item *ngFor="let recorre of sideBarItems.nombreYredireccionamiento">
        <a routerLink="{{recorre[1]}}" >{{recorre[0]}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <button class="sidenavButton" type="button" mat-button (click)="drawer.toggle()">≡</button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
