<div>
  <h1>Lista de empleados</h1>
  <div>
    <button mat-raised-button color="warn" class="botonNuevo" (click)="mostrarAgregarVisible()">Nuevo Empleado</button>
  </div>

  <div *ngIf="agregarVisible" >
    <form (ngSubmit)="guardarNuevo()">
      <mat-card class="formCard editable">
        <mat-card-content class="card">
          <h2>Nuevo empleado</h2>
          <mat-form-field >
            <mat-label>
              Nombre
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.nombre"
            matInput
            name="nuevo_nombre">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Dirección
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.direccion"
            matInput
            name="nuevo_direccion">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Teléfono
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.telefono"
            matInput
            name="nuevo_telefono">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Nombre de usuario
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.nombreUsuario"
            matInput
            name="nuevo_nombreUsuario">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Clave de usuario
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.claveUsuario"
            matInput
            name="nuevo_claveUsuario">
          </mat-form-field>
          <mat-checkbox [(ngModel)]="nuevo.administrador" name="nuevo_administrador" value="before" color="primary">¿Es administrador?</mat-checkbox>
          <mat-form-field >
            <mat-label>
              Código
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.codigo"
            matInput
            name="nuevo_codigo">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Especialidad
            </mat-label>
            <input
            type="text"
            [(ngModel)]="nuevo.especialidad"
            matInput
            name="nuevo_especialidad">
          </mat-form-field>
          <div>
            <button class="botonesCuadro" mat-raised-button color="primary" type="submit">Guardar</button>
            <button class="botonesCuadro botonBlanco" mat-raised-button (click)="mostrarAgregarVisible()">Cerrar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div *ngIf="editarVisible">
    <form (ngSubmit)="guardarEditado(editable)">
      <mat-card class="formCard editable">
        <mat-card-content class="card">
          <h2>Editar empleado</h2>
          <mat-form-field >
            <mat-label>
              Nombre
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.nombre"
            matInput
            name="editable_nombre">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Dirección
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.direccion"
            matInput
            name="editable_direccion">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Teléfono
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.telefono"
            matInput
            name="editable_telefono">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Nombre de usuario
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.nombreUsuario"
            matInput
            name="editable_nombreUsuario">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Clave de usuario
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.claveUsuario"
            matInput
            name="editable_claveUsuario">
          </mat-form-field>
          <mat-checkbox [(ngModel)]="editable.administrador" value="before" color="primary" name="editable_administrador">¿Es administrador?</mat-checkbox>
          <mat-form-field >
            <mat-label>
              Código
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.codigo"
            matInput
            name="editable_codigo">
          </mat-form-field>
          <mat-form-field >
            <mat-label>
              Especialidad
            </mat-label>
            <input
            type="text"
            [(ngModel)]="editable.especialidad"
            matInput
            name="editable_especialidad">
          </mat-form-field>
          <div>
            <button class="botonesCuadro" mat-raised-button color="primary" type="submit">Guardar</button>
            <button class="botonesCuadro botonBlanco" mat-raised-button (click)="mostrarEditarVisible(editable)">Cerrar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div class="contenedorTabla">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Telefono</th>
          <th>Nombre de Usuario</th>
          <th>Clave de Usuario</th>
          <th>Autoridades</th>
          <th>Código</th>
          <th>Especialidad</th>
          <th>Sucursal, zona y depósitos asignados</th>
          <th>Botones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.idUsuario}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.direccion}}</td>
          <td>{{empleado.telefono}}</td>
          <td>{{empleado.nombreUsuario}}</td>
          <td>{{empleado.claveUsuario}}</td>
          <td>{{objToString(empleado.administrador)}}</td>
          <td>{{empleado.codigo}}</td>
          <td>{{empleado.especialidad}}</td>
          <td><button class="botonesCuadro" mat-raised-button color="primary" (click)="verMas(empleado)">Ver más</button></td>
          <td>
            <button class="botonesCuadro" mat-raised-button color="primary" (click)="mostrarEditarVisible(empleado)">Editar</button>
            <button class="botonesCuadro" mat-raised-button color="warn" (click)="eliminar(empleado)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
