<div class="contenedorTabla">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>Nombre de Usuario</th>
        <th>Clave de Usuario</th>
        <th>Autoridades</th>
        <th>Código</th>
        <th>Especialidad</th>
        <th>Depositos</th>
        <th>Botones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of empleados">
        <td>{{empleado.idUsuario}}</td>
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.direccion}}</td>
        <td>{{empleado.telefono}}</td>
        <td>{{empleado.nombreUsuario}}</td>
        <td>{{empleado.claveUsuario}}</td>
        <td>{{objToString(empleado.autoridades)}}</td>
        <td>{{empleado.codigo}}</td>
        <td>{{empleado.especialidad}}</td>
        <td>{{empleado.depositos}}</td>
        <td>
          <button class="botonesCuadro" mat-raised-button color="primary">Editar</button>
          <button class="botonesCuadro" mat-raised-button color="warn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
