h1{
  text-align: center;

  font-weight: bold;
}


.haciaIzquierda{
  text-align: left;
}

.contenedorTabla{
  max-width: 90%;

  display: table;
  margin-right: auto;
  margin-left: auto;

  font-size: medium;

  text-align: center;
}

ul{
  list-style-type: none;
}

table{
  width: 100%;
}

td, th{
  vertical-align: text-top;
}

.sucursales{
  border-bottom: 3px solid #000000;

  max-width:fit-content;
}

.zonas{
  border-bottom: 1px solid #1d1d1d;

  max-width:fit-content;
}

.zonasPintadas{
  background-color: rgb(225, 225, 248);
}

.depositosPintados{
  background-color: rgb(209, 209, 255);
}

.depositos{
  border-bottom: 1px solid #4b4a4a;

  max-width:fit-content;
}

.barraIz{
  border-left: 1px solid #464545;
}

.separador{
  border-left: 1px solid #ff0000;
}
