<div>
  <h1>Asignación al empleado de sucursal, zona y depoósitos</h1>
  <div class="contenedorTabla">
    <ul *ngFor="let sucursal of sucursales" class="sucursales">
      <li>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th class="barraIz">Dirección</th>
              <th class="barraIz">Teléfono</th>
              <th class="separador">Zonas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{sucursal.idSucursal}}</td>
              <td class="barraIz">{{sucursal.direccion}}</td>
              <td class="barraIz">{{sucursal.telefono}}</td>
              <td class="separador">
                <ul *ngFor="let zona of sucursal.zonas" class="zonasPintadas zonas">
                  <li>
                    <table>
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th class="barraIz">Letra</th>
                          <th class="barraIz">Tipo</th>
                          <th class="separador">Depósitos</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{zona.idZona}}</td>
                          <td class="barraIz">{{zona.letra}}</td>
                          <td class="barraIz">{{zona.tipo}}</td>
                          <td class="separador">
                            <ul *ngFor="let deposito of zona.depositos" class="depositosPintados depositos">
                              <li>
                                <table>
                                  <thead>
                                    <tr>
                                      <th>ID</th>
                                      <th class="barraIz">Número</th>
                                      <th class="barraIz">Volumen</th>
                                      <th>Asignar</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>{{deposito.idDeposito}}</td>
                                      <td class="barraIz">{{deposito.numero}}</td>
                                      <td class="barraIz">{{deposito.volumen}}</td>
                                      <mat-checkbox [(ngModel)]="deposito.asignado" name="deposito_asignado" value="before" color="primary"></mat-checkbox>
                                    </tr>
                                  </tbody>
                                </table>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
  </div>
</div>
