<div class="contenedorTabla">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Nombre de Usuario</th>
        <th>Clave de Usuario</th>
        <th>Botones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.idUsuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.direccion}}</td>
        <td>{{usuario.telefono}}</td>
        <td>{{usuario.nombreUsuario}}</td>
        <td>{{usuario.claveUsuario}}</td>
        <td>
          <button class="botonesCuadro" mat-raised-button color="primary">Editar</button>
          <button class="botonesCuadro" mat-raised-button color="warn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
