mat-drawer-container{
  height: 100%;
  background-color: rgb(237, 237, 248);
}

mat-drawer{
  max-width: 50%;
  background-color: rgb(172, 193, 248);
  padding: 1% 1% 0 1%;
}

mat-list-item{
  padding: 8% 0 0 0;
}

a[href] {
  text-decoration: none;
  color: black;
  white-space: pre;
}

button{
  padding: 0.5% 1% 0.5% 1%;
  font-size: 200%;
  color:white;
  background-color: rgb(13, 47, 156);
  border-radius: 8px;
  border: 0;
}

button:hover{
  background-color: rgb(12, 38, 122);
  cursor: pointer;
}
