<div class="contenedorTabla">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Zonas</th>
        <th>Botones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sucursal of sucursales">
        <td>{{sucursal.idSucursal}}</td>
        <td>{{sucursal.direccion}}</td>
        <td>{{sucursal.telefono}}</td>
        <td>{{sucursal.zonas}}</td>
        <td>
          <button class="botonesCuadro" mat-raised-button color="primary">Editar</button>
          <button class="botonesCuadro" mat-raised-button color="warn">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
